
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {

background-image: url(bg1.jpg);
background-position: center;
background-size: cover;

}

#mycanvas{

border-width: 10px;
background-color: rgb(255, 255, 255);
border-style: ridge;
border-color: brown;

}

button {
	background-color: green;
	border: none;
	color: aliceblue;
	padding: 10px 42px;
	font-size: 16px;
}

input {
	padding-right: 20px;
}